.main-image{

  background-image: url("../../assets/img/pp.jfif");
  min-width: 100%;
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;

}

mat-card{
  width: 30%;
  height: 50% !important;
}

.mat-cards{
  display: flex;
  flex-wrap: wrap;
}
.image-content{
  display: flex;
  align-self: center;
  justify-content: center;
  position: absolute;
  top: 20%;
  left: 45%;
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  border: 3px solid #f1f1f1;
  font-weight: bold;
  z-index: 2;
  text-align: center;
  color: #f1f1f1;
  height: 20%;
  width: 20%;
}
.course-card{
  display: flex;
  flex-direction: column;
  width: 15%;
}
